.produtos-em-alta {
  padding: 1.25rem;
}

.produtos-em-alta-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.produtos-em-alta h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-left: 6.25rem;
}

.ver-todos {
  color: #c92071;
  text-decoration: none;
  font-size: 1.125rem;
  margin-right: 6.25rem;
}
