.collectionIcons {
  width: 6.5rem;
  height: 8.625rem;

  border-radius: 0.5rem 0rem 0rem 0rem;
  opacity: 0rem;
  position: relative;
  text-align: center;
}

.IconsCard {
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.75rem;
  border-radius: 50%;
  opacity: 0rem;
  position: relative;
  border: 0.0625rem solid #ddd;
  padding: 1.3rem 3rem;
  text-align: center;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.collection-card:hover {
  transform: scale(1.05);
}

.collection-label {
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0.125rem;
  z-index: 1;
  position: relative;
  width: 100%; 
  max-width: 12.5rem;
  word-wrap: break-word;
}