.Colecao {
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 100%;
  justify-content: center;
  /* max-width: 1800px; */
  display: flex;
  padding: 1.3rem 5.6rem;
}
.colecao-header {
  margin: 2.3rem 0rem 0rem;
}

.colecao-header {
  color: #333;
  align-items: center;
  width: 100%;
  padding-bottom: 1.25rem;
  /* margin-left: 1em; */
}

.produto-colecao {
  justify-content: center;
  display: flex;
  gap: 2rem;
}

.colecao-icon-head {
  padding-bottom: 1.25rem;
  padding-top: 6.25rem;
  text-align: center;
}

.Col-icon {
  margin-inline: 0.875rem;
  display: flex;
  justify-content: center;
  /* flex-wrap: ; */
  gap: 3rem;
  margin: 0.8rem;
}