.btnBorda{
    width: 9.875rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--primary);
    background-color: #FCFCFC;
    color: var(--primary);
    font-weight: 700;
    font-size: 0.875rem;
}