.btnBorda{
    width: 158px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--primary);
    background-color: #FCFCFC;
    color: var(--primary);
    font-weight: 700;
    font-size: 14px;
}