.btnWarning{
    width: 9.875rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--warning);
    color: var(--light-gray-3);
    font-weight: 700;
    font-size: 0.875rem;
    transition: 0.5s;
}

.btnWarning:hover{
    background-color:#CF8900 ;
    transition: 0.5s;
}