 
  .produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: 0rem 6.25rem 6.25rem;
  }
  
  .produto {
    position: relative;
    background-color: #f8f9fd;
    padding: 0.9375rem;
    text-align: left;
    box-shadow: 0.0625rem var(--light-gray-3);
    transition: transform 0.2s ease;
  }
  
  .produto:hover {
    transform: scale(1.03);
  }
  
  .desconto {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    background-color: #e7ff86;
    color: #474747;
    font-weight: bold;
    padding: 0.3125rem 0.9375rem;
    border-radius: 1.8125rem;
    font-size: 0.8rem;
  }
  
  .produto-imagem {
    background-color: #ffff;
    width: 100%;
    height: auto;
    padding: 0.625rem;
  }
  
  .categoria {
    color: #777;
    font-size: 0.8rem;
    margin: 0;
  }
  
  .nome {
    font-size: 1.5rem;
    color: #474747;
    margin: 0.3125rem 0 0.625rem;
  }
  
  .preco-antigo {
    text-decoration: line-through;
    color: #8f8f8f;
    font-size: 1.5rem;
    margin-right: 0.3125rem;
    display: inline-block;
  }
  
  .preco-novo {
    font-size: 1.5rem;
    color: #1f1f1f;
    font-weight: bold;
    display: inline-block;
  }
  