.container {
  background-color: var(--dark-gray);
  color: var(--white);
}

.containercontent {
  max-width: 80rem;
  margin: 0 auto;
  padding-top: 3.125rem;
  padding-bottom: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.containerinformations {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}

@media (max-width: 56.25rem) {
  .containerinformations {
    flex-direction: column;
  }
}
