.container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
  }
  
.searchInput {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid var(--light-gray-2);
  border-right-color: transparent;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  color: var(--dark-gray-3);
}
  
.searchButton {
  position: absolute;
  right: 0.5rem;
  top: 0.25rem;
  padding: 0.5rem;
  color: var(--dark-gray-3);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searchIcon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.75rem;
  border-top: 0.0625rem solid var(--light-gray-2);
  border-right: 0.0625rem solid var(--light-gray-2);
  border-bottom: 0.0625rem solid var(--light-gray-2);
  border-left: none;
  height: 2.5625rem;
  border-top-right-radius: 0.5rem; 
  border-bottom-right-radius: 0.5rem; 
}
  
  @media (max-width: 56.25rem) {
  .container {
    display: none;
  }
}
