.btnDefault {
  width: 9.875rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--light-gray-3);
  color: var(--primary);
  font-weight: 700;
  font-size: 0.875rem;
  z-index: 1;
}

.btnDefault:hover {
  transform: scale(1.05);
}
