.Ofertaescpecial {
    display: flex;
    gap: 4.25rem;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    padding: 3.125rem;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29.125rem;
    height: 29.125rem;
    border-radius: 50%;
    position: relative;
    overflow:visible;
    background: linear-gradient(-20deg, var(--white)45%, var(--light-gray-2));
}

.circleImg {
    width: 35.8125rem;
    height: 20.6255rem;
    object-fit: cover;
}

.h1OfertaEspacial{
    margin-bottom: 1.0625rem;
    size: 0.875rem;
    color: var(--primary);
}

.h2OfertaEspecial{
    size: 3rem;
    color: var( --dark-gray-2);
}

.Airjordan {
width: 36.8125rem;
height: 7rem;
line-height: 1.75rem;
margin-top: 1.25rem;
}

.divTextosOferta{
    margin-left: 4.25rem;
}